// Global SCSS-files imports
@import './fonts';
@import './vars';
@import './reset';
@import './global';

// Sections or Pages SCSS-files imports
@import './base';
@import './header';
@import './dashboard';
@import './pool';
@import './pools';
@import './pool-form';
@import './footer';

// Libs
// @import './libs/swiper';